.header { background: $head-bg; }
//.header { background: url('https://s1.ax1x.com/2017/12/22/jlxjf.jpg'); }
.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
